@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблоковано";
}

<hgroup>
    <h1 class="text-danger">Заблоковано</h1>
    <h2 class="text-danger">Даний обліковий запис заблокований. Спробуйте пізніше.</h2>
</hgroup>
