@{
    ViewBag.Title = "Подтверждение почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Дякуємо за підтвердження електроної адреси. @Html.ActionLink("Натисніть тут", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
