@{
    ViewBag.Title = "Підтвердження обнулення пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Ваш пароль обнулений. @Html.ActionLink("Натисніть для входу", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
